html,
body {
    margin: 0;
    padding: 0;
}

body {
    background-color: lightblue;
    font-family: cursive;
}

#wrap {
    width: 70%;
    margin: 0 auto;
    background-color: white;
}

header {
    background-color: lightblue;
    text-align: center;
}

header img {
    width: 100%;
}

nav {
    background-color: darkslategrey;
    text-align: center;
    padding: 10px 0;
    font-family: verdana;
}

nav a {
    color: white;
    padding: 10px 30px;
    text-decoration: none;
}

nav a:hover {
    color: grey;
    background-color: white;
}

nav li {
    display: inline;
}

nav ul {
    padding: 0;
    margin: 0;
}

section {
    padding: 20px;
    overflow: auto;
}

section h1 {
    color: black;
    font-size: 180%;
    margin: 0;
    text-align: left;
}

.tide {
    width: 30%;
    float: right;
}

footer {
    background-color: darkslategray;
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 10px 0;
}

.button {
    background-color: darkslategray;
    color: skyblue;
    text-decoration: none;
    margin: 15px 0;
    padding: 10px;
    display: inline-block;
    border-radius: 8px;
}

a.button:hover {
    background-color: white;
}
